/* Place CSS styles here */
/* Add a black background color to the top navigation */
.BG-Body{
  background-color: #FFF4F3;
}
.BG-Nav {
    background-color: #FFF4F3;
    overflow: hidden;
    margin-bottom: -40px;
  }
  
  /* Style the links inside the navigation bar */
  .BG-Nav a {
    float: left;
    font-family: Verdana;
    display: block;
    color: #BD5055;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .BG-Nav a:hover {
    background-color: #fcbebe;
    color: #7c3033;
  }
  
  /* Add an active class to highlight the current page */
  .BG-Nav a.active {
    background-color: #FFF4F3;
    color: rgb(141, 62, 62);
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .BG-Nav .icon {
    display: none;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .BG-Nav a:not(:first-child) {display: none;}
    .BG-Nav a.icon {
      float: right;
      margin-top: 6px;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .BG-Nav.responsive {position: relative;}
    .BG-Nav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .BG-Nav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
  }

  .BG-logo{
    display: flex;
    width: 100%;
    align-items: left;
  }

  .BG-title {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ),
    /* bottom, image */
    url(../img/2552\ The\ Who.png);
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 1px #000;
  min-height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
  
@media (max-width: 480px) {
  .BG-main {
    padding-left: 20px;
    padding-right: 20px;
  }
}

  
  h1 {
    font-family: Verdana;
    color: white;
    font-size: 60px;
    text-shadow: 1px 1px 2px #000;
  }

  @media (max-width: 600px) {
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: 80px;
    }
  }

  @media (max-width: 480px) {
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      }
    }

  .BG-default-wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  h2{
    font-family: Verdana;
    font-size: 40px;
    color: #BD5055;
  }

  @media (max-width: 600px) {
    h2{
      font-family: Verdana;
      font-size: 30px;
      color: #BD5055;
    }
  }

  @media (max-width: 480px) {
  h2{
    font-family: Verdana;
    font-size: 20px;
    color: #BD5055;
  }
}

  h3{
    display: flex;
    color: #3e3e3e;
    font-family: Verdana;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  p{
    display: flex;
    font-size: 20px;
    font-family: Arial;
    text-align: center;
  }

  @media (max-width: 600px) {
  p{
    display: flex;
    font-size: 20px;
    font-family: Arial;
    text-align: center;
  }
}

@media (max-width: 480px) {
  p{
    display: flex;
    font-size: 20px;
    font-family: Arial;
    text-align: center;
  }
}

.BG-featured-item-wrapper{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
.BG-featured-item-wrapper{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
}
  .BG-featured-item-title{
    display: flex;
    justify-content: center;
    color: #BD5055;
    text-align: center;
    margin-top: 50px;
  }

  input, textarea {
    display: flex;
    border: 1px solid #7c3033;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 12px;
    width: 50%;
  }

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
  font-family: Verdana;
  font-size: 10px;
  line-height: 1.15;
  margin: 0;
  justify-content: center;
  color: #7c3033;
}
  input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;}

input, textarea{
    box-sizing: border-box;
    background-color: #f8c5c5;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 248px
}

.form-input{
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: Verdana;
  color: #7c3033;
 }
 .BG-insta-wrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
 }

 .fa {
  padding: 20px;
  height: 80px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: #7c3033;
  color: white;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 980px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:#BD5055;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-family: verdana;
  color:#BD5055;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  font-family: verdana;
  color:#BD5055;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color:#BD5055;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 20px;
}

.active, .dot:hover {
  background-color: #7c3033;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.contact-link{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 30px;
  font-family: Verdana;
  color: #BD5055;
}

@media (max-width: 600px) {
  .contact-link{
    font-size: 15px;
   }
  } 
  
  @media (max-width: 480px) {
    .contact-link{
      font-size: 15px;
     }
    }  


.artworks-link{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 30px;
  font-family: Verdana;
  color: #BD5055;
}

@media (max-width: 600px) {
.artworks-link{
  font-size: 20px;
 }
} 

@media (max-width: 480px) {
  .artworks-link{
    font-size: 20px;
   }
  }  

.gif-image{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.BG-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media (max-width: 600px) {
  .BG-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .BG-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 100%;
  }
}

.artwork-images{
  width: 100%;
}

.myartwork-titles{
  font-family: Verdana;
  color: #BD5055;
  font-size: 20px;
}

@media (max-width: 600px) {
.myartwork-titles{
  font-size: 15px;
 }
}

@media (max-width: 480px) {
  .myartwork-titles{
    font-size: 15px;
   }
  }

  .BG-grid-container-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 18px;
  }

  .BG-grid-container-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 18px;
  }
  
  .BG-featured-item{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 30px;
}

@media (max-width: 600px){
  .BG-featured-item {
      flex-direction: column;
      gap: 10px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
    }
  }

  @media (max-width: 480px){
    .BG-featured-item {
        flex-direction: column;
        gap: 10px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
      }
    }

.BG-featured-item-description{
  text-align: center;
  line-height: 1.3;
 }

 @media (max-width: 600px){
  .BG-featured-item-description{
   font-size: 15px;
   margin-left: 20px;
    margin-right: 20px;
  }
 }

 @media (max-width: 480px){
  .BG-featured-item-description{
   font-size: 15px;
   margin-left: 20px;
   margin-right: 20px;
   }
  }

 .artworks-link-2{
   display: flex;
   justify-content: center;
   margin-top: 20px;
   font-size: 15px;
   margin-bottom: 30px;
   font-family: Verdana;
   color: #BD5055;
}

@media (max-width: 600px) {
  .artworks-link-2{
    margin-top: 100px;
   }
}  

@media (max-width: 480px) {
  .artworks-link-2{
    margin-top: 100px;
   }
}  

.cereal-image {
  width: 30%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
 
@media (max-width: 600px){
  .cereal-image {
     width: 70%;
    }
  }

@media (max-width: 480px){
  .cereal-image {
     width: 70%;
   }
 }

.GR-poster-image {
   width: 100%;
   margin-top: 60px;
  margin-left: auto;
   margin-right: auto;
   display: flex;
}

@media (max-width: 600px){
  .GR-poster-image {
   width: 100%;
   margin-top: 40px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
  }
}
      
@media (max-width: 480px){
  .GR-poster-image {
   width: 95%;
   margin-top: 40px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
  }
}
  
  
.OI-spread-image {
  width: 50%;
  margin-top: 40px;
  margin-left: auto;
  margin-bottom: -100px;
  margin-right: auto;
  display: flex;
 }
            
 @media (max-width: 600px){
   .OI-spread-image {
    width: 100%;
   }
 }
         
 @media (max-width: 480px){
   .OI-spread-image {
    width: 95%;
   }
 }    

.PR-spread-image {
 width: 50%;
 margin-top: 40px;
 margin-left: auto;
 margin-bottom: -100px;
 margin-right: auto;
 display: flex;
}
           
@media (max-width: 600px){
  .PR-spread-image {
   width: 100%;
  }
}
        
@media (max-width: 480px){
  .PR-spread-image {
   width: 95%;
  }
}    

.self-image {
  width: 30%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
 }
            
@media (max-width: 600px){
  .self-image {
    width: 90%;

   }
 }
         
@media (max-width: 480px){
  .self-image {
    width: 90%;
   }
 } 
 
 .movie-image {
  width: 50%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
 }
            
 @media (max-width: 600px){
   .movie-image {
    width: 90%;
   }
 }
         
 @media (max-width: 480px){
   .movie-image {
    width: 90%;
   }
 }  

.woman-image {
  width: 50%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
 }
            
@media (max-width: 600px){
   .woman-image {
    width: 90%;
   }
 }
         
@media (max-width: 480px){
   .woman-image {
    width: 90%;
   }
 }  

 .skeleton-image {
  width: 50%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
 }
            
 @media (max-width: 600px){
   .skeleton-image {
    width: 90%;
   }
 }
         
 @media (max-width: 480px){
   .skeleton-image {
    width: 90%;
   }
 }  

 .cube-image {
  width: 60%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
 }
            
 @media (max-width: 600px){
   .cube-image {
    width: 90%;
   }
 }
         
 @media (max-width: 480px){
   .cube-image {
    width: 90%;
   }
 }  

 .about-me-image {
  width: 30%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
 }
            
 @media (max-width: 600px){
   .about-me-image {
    width: 80%;
   }
 }
         
 @media (max-width: 480px){
   .about-me-image {
    width: 80%;
   }
 }  
